<div class="form-group">
    <div class="col-sm-12">
        <div class="form-footer">
			<div id="toaster-alert" class="alert alert-success" role="alert" style="display:none;"><strong>Success!</strong>&nbsp;CER saved.</div>
            <button type="button" class="btn btn-default" onclick="window.history.go(-1); return false;">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>