<div class="form-group{{#if required}} has-feedback{{/if}}">
    <label for="{{name}}" class="col-sm-3 control-label">{{caption}}</label>
    <div class="col-sm-9">
        <div class="az-richtext" id="{{name}}"></div>
        {{#if required}}
        <i class="fa fa-asterisk form-control-feedback"></i>
        {{/if}}
    </div>
</div>